/* global */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    /* PRIMARY */

    /* text */
    --heading-highlight: hsl(14, 88%, 65%);
    --heading-active: hsl(238, 29%, 16%);

    /* gradients */
    --bottom-gradient: hsl(240, 73%, 65%);
    --top-gradient: hsl(273, 75%, 66%);

    /* NEUTRAL */

    /* text */
    --heading-neutral: hsl(237, 12%, 33%);
    --paragraph-color: hsl(240, 6%, 50%);

    /* dividers */
    --divider-color: hsl(240, 5%, 91%);
    /* root font-size */
    font-size: 12px;
}

body {
    background: linear-gradient(0deg, var(--bottom-gradient), var(--top-gradient));
    font-family: 'Kumbh Sans', sans-serif;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* faq container */

.faq {
    max-width: 920px;
    width: 90%;
    display: flex;
    background-color: white;
    background-image: url(../images/bg-pattern-desktop.svg);
    background-position: top -300px left -580px;
    background-repeat: no-repeat;
    padding: 65px 95px 65px 0;
    border-radius: 20px;
    justify-content: space-between;
    box-shadow: 0 40px 40px rgba(59, 15, 163, 0.5);
    position: relative;
}

/* illustration */

.illustration {
    overflow: hidden;
}

#woman {
    position: relative;
    right: 85px;
}

#box {
    position: absolute;
    left: -93px;
    top: 200px;
    animation: hop 1s ease 1s infinite alternate;
}

@keyframes hop {
    from {
        transform: translateY(0px);
    }

    to {
        transform: translateY(-15px);
    }
}

/* questions */

.questions {
    flex: 0 2 350px;
}

h1 {
    font-size: 2.7rem;
    margin-bottom: 30px;
    line-height: 2.5rem; /* to keep the h1 leveled with the illustration */
}

button {
    position: relative;
    display: flex;
    align-items: center;
    width: 100%;
    text-align: left;
    font-weight: 400;
    font-size: 1.2rem;
    color: var(--heading-neutral);
    cursor: pointer;
    background-color: transparent;
    border: none;
    outline: none;
}

button::after {
    content: "";
    background-image: url(../images/icon-arrow-down.svg);
    background-repeat: no-repeat;
    background-position: 100%;
    position: absolute;
    width: 11px;
    height: 7px;
    right: 0;
    transition: transform 300ms;
}

button:hover {
    color: var(--heading-highlight);
}

/* fix the button.btn--active bold word size */

button.btn--active {
    font-weight: 700;
    color: var(--heading-active);
}

button.btn--active::after {
    transform: rotate(180deg)
}

/* panel */

.panel {
    transition: max-height 300ms linear;
    max-height: 0;
    overflow: hidden;
}

.question  p {
    color: var(--paragraph-color);
    margin-top: 10px;
    text-align: left;
}

.question > div {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.question img {
    width: 10px;
    height: 7px;
}

hr {
    border-width: 1px 0 0;
    border-color: var(--divider-color);
    border-style: solid;
    margin: 15px 0;
}

/* media queries */

@media only screen and (max-width: 850px) {
    /* global */
    body {
        text-align: center;
        padding: 150px 25px 85px;
        align-items: unset;
    }

    /* faq */

    .faq {
        position: relative;
        background-image: url(../images/bg-pattern-mobile.svg);
        background-position: top left 50%;
        background-size: 240px;
        flex-direction: column;
        width: 100%;
        max-width: 525px;
        min-width: 295px;
        padding: 135px 25px 40px;
    }

    /* illustration */

    .illustration {
        overflow: visible;
        position: absolute;
        top: 0;
        left: 50%;
        transform: translateX(-50%);
    }

    #woman {
        width: 240px;
        min-width: 200px;
        right: unset;
        top: -110px;
    }

    #box {
        position: absolute;
        top: -40px;
        left: 0;
        width: 90px;
        animation: none;
    }

    /* questions */

    .questions {
        flex-basis: unset;
    }

    button:hover {
        color: inherit;
    }
}
